@model CommentsViewModel

<div class="body-wrapper">
    <div class="controller">
        <div class="controller2">
            <section id="slider">
                <div class="container">
                    <div class="main-slider" style="width:100%">
                       
                        <div class="flexslider">
                            <ul class="slides">
                                @foreach (var item in Model.News)
                                {
                                    <li>
                                        <img src="@item.Photo" asp-append-version="true" />

                                        <p class="flex-caption"><a href="#">@item.Title</a> @item.Description</p>
                                    </li>

                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section id="content">
                <div class="container">
                    <!-- Main Content -->
                    <div class="main-content">

                        <!-- Popular News -->
                        <div class="column-one-third">
                            <h5 class="line"><span>Haberler</span></h5>
                            <div class="outertight">
                                <ul class="block">

                                    @foreach (var item in Model.News)
                                    {
                                        if (item.Category.Name == "Anasayfa")
                                        {
                                            <li>
                                                <img src="@item.Photo" width="140" height="86" asp-append-version="true" class="alignleft" />
                                                <span>@item.PublishDate</span>
                                                <a href="#">@item.Description</a>


                                            </li>}
                                    }
                                </ul>
                            </div>

                        </div>
                        <!-- /Popular News -->
                        <!-- Hot News -->
                        <div class="column-one-third">
                            <h5 class="line"><span>Teknoloji</span></h5>
                            <div class="outertight m-r-no">
                                <ul class="block">

                                    @foreach (var item in Model.News)
                                    {
                                        if (item.Category.Name == "Teknoloji")
                                        {
                                            <li>
                                                <img src="@item.Photo" width="140" height="86" asp-append-version="true" class="alignleft" />
                                                <span>@item.PublishDate</span>
                                                <a href="#">@item.Description</a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>

                        </div>
                        <!-- /Hot News -->
                        <!-- Life Style -->
                        <!-- /Life Style -->
                        <!-- World News -->
                        <div class="column-two-third">
                            <h5 class="line">
                                <span>SPOR</span>
                                <div class="navbar">
                                    <a id="next2" class="next" href="#"><span></span></a>
                                    <a id="prev2" class="prev" href="#"><span></span></a>
                                </div>
                            </h5>

                            <div class="outerwide">
                                <ul class="wnews" id="carousel2">
                                    @foreach (var item in Model.News)
                                    {
                                        if (item.Category.Name == "Spor")
                                        {

                                            <li>
                                                <img src="@item.Photo" width="140" height="86" asp-append-version="true" class="alignleft" />
                                                <h6 class="regular"><a href="#">@item.Title</a></h6>
                                                <span class="meta">@item.PublishDate </span>
                                                <p>@item.Description</p>
                                            </li>
                                        }
                                    }


                                </ul>
                            </div>


                        </div>
                        <!-- /World News -->
                        <!-- Popular News -->
                        <div class="column-two-third">
                            <div class="outertight">
                                <h5 class="line"><span>Siyaset</span></h5>

                                <div class="outertight m-r-no">
                                    <div class="flexslider">
                                        <ul class="slides">

                                            @foreach (var item in Model.News)
                                            {
                                                if (item.Category.Name == "Politika")
                                                {

                                                    <li>
                                                        <img src="@item.Photo" width="300" height="162" asp-append-version="true" class="alignleft" />
                                                        <h6 class="regular">
                                                            <a href="#">
                                                                @item.Title
                                                            </a>
                                                        </h6>
                                                        <span class="meta">@item.PublishDate</span>
                                                        <p>@item.Description</p>
                                                    </li>
                                                }
                                            }

                                        </ul>
                                    </div>
                                </div>

                                <ul class="block">

                                    @foreach (var item in Model.News)
                                    {
                                        if (item.Category.Name == "Teknoloji")
                                        {
                                            <li>
                                                <img src="@item.Photo" width="140" height="86" asp-append-version="true" class="alignleft" />
                                                <span>@item.PublishDate</span>
                                                <a href="#">@item.Description</a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                            <!---------Dünya-->
                            <div class="outertight m-r-no">
                                <h5 class="line"><span>DÜNYA</span></h5>

                                <div class="outertight m-r-no">
                                    <div class="flexslider">
                                        <ul class="slides">
                                            @foreach (var item in Model.News)
                                            {
                                                if (item.Category.Name == "Dünya")
                                                {
                                                    <li>
                                                        <img src="@item.Photo" width="300" height="162" asp-append-version="true" class="alignleft" />
                                                        <h6 class="regular">
                                                            <a href="#">
                                                                @item.Title
                                                            </a>
                                                        </h6>
                                                        <span class="meta">@item.PublishDate</span>
                                                        <p>
                                                            @item.Description
                                                        </p>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>


                                <!---------Magazin-->
                                <div class="outertight m-r-no">
                                    <h5 class="line"><span>Magazin</span></h5>
                                    <div class="outertight m-r-no">
                                        <div class="flexslider">
                                            <ul class="slides">
                                                @foreach (var item in Model.News)
                                                {
                                                    if (item.Category.Name == "Magazin")
                                                    {
                                                        <li>
                                                            <img src="@item.Photo" width="300" height="162" asp-append-version="true" class="alignleft" />
                                                            <h6 class="regular">
                                                                <a href="#">
                                                                    @item.Title
                                                                </a>
                                                            </h6>
                                                            <span class="meta">@item.PublishDate</span>
                                                            <p>
                                                                @item.Description
                                                            </p>
                                                        </li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /Popular News -->

                    </div>
                    <!-- /Main Content -->
                    <!-- Left Sidebar -->
                    <div class="column-one-third">
                        <div class="sidebar">
                            <h5 class="line"><span>Stay Connected.</span></h5>
                            <ul class="social">
                                <li>
                                    <a href="#" class="facebook"><i class="icon-facebook"></i></a>
                                    <span>6,800 <br /> <i>fans</i></span>
                                </li>
                                <li>
                                    <a href="#" class="twitter"><i class="icon-twitter"></i></a>
                                    <span>12,475 <br /> <i>followers</i></span>
                                </li>
                                <li>
                                    <a href="#" class="rss"><i class="icon-rss"></i></a>
                                    <span><i>Subscribe via rss</i></span>
                                </li>
                            </ul>
                        </div>

                        <div class="sidebar">
                            <h5 class="line"><span>Vimeo Video.</span></h5>
                            <iframe src="http://player.vimeo.com/video/65110834?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="300px" height="170px" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
                        </div>



                        <div class="sidebar">
                            <div id="tabs">
                                <ul>
                                    <li><a href="#tabs1">Güncel</a></li>
                                    <li><a href="#tabs2">Popüler</a></li>
                                    <li><a href="#tabs3">Yorumlar</a></li>
                                </ul>
                                <div id="tabs1">
                                    <ul>
                                        @foreach (var item in Model.News)
                                        {
                                            <li>
                                                <a href="#" class="title">@item.Title</a>
                                                <span class="meta">@item.PublishDate   \\   <a href="#">@item.Category.Name</a> </span>

                                            </li>

                                        }


                                    </ul>
                                </div>
                                <div id="tabs2">
                                    <ul>
                                        <li>
                                            <a href="#" class="title">Mauris eleifend est et turpis. Duis id erat.</a>
                                            <span class="meta">27 May, 2013.   \\   <a href="#">World News.</a>   \\   <a href="#">No Coments.</a></span>
                                            <span class="rating"><span style="width:70%;"></span></span>
                                        </li>
                                        <li>
                                            <a href="#" class="title">Mauris eleifend est et turpis. Duis id erat.</a>
                                            <span class="meta">27 May, 2013.   \\   <a href="#">World News.</a>   \\   <a href="#">No Coments.</a></span>
                                            <span class="rating"><span style="width:70%;"></span></span>
                                        </li>
                                        <li>
                                            <a href="#" class="title">Mauris eleifend est et turpis. Duis id erat.</a>
                                            <span class="meta">27 May, 2013.   \\   <a href="#">World News.</a>   \\   <a href="#">No Coments.</a></span>
                                            <span class="rating"><span style="width:70%;"></span></span>
                                        </li>
                                        <li>
                                            <a href="#" class="title">Mauris eleifend est et turpis. Duis id erat.</a>
                                            <span class="meta">27 May, 2013.   \\   <a href="#">World News.</a>   \\   <a href="#">No Coments.</a></span>
                                            <span class="rating"><span style="width:70%;"></span></span>
                                        </li>
                                    </ul>
                                </div>
                                <div id="tabs3">
                                    <ul>
                                        @foreach (var item in Model.Comments)
                                        {
                                    <li>
                                        <a href="#" class="title"><strong>@item.Id:</strong>@item.Description</a>
                                    </li>

                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="sidebar">
                            <h5 class="line"><span>Accordion.</span></h5>
                            <div id="accordion">

                                <h3>Poserue Clubre.</h3>
                                <div>
                                    <p>Vestibulum tempor feugiat est in posuere. Sed auctor libero augue, a faucibus turpis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices. posuere.</p>
                                </div>

                                <h3>Lubelia Mest.</h3>
                                <div>
                                    <p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna.</p>
                                </div>

                                <h3>Tincidunt Massa.</h3>
                                <div>
                                    <p>Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac liberoac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.</p>
                                </div>

                                <h3>Quisque lobortis.</h3>
                                <div>
                                    <p>Cras dictum. Pellentesque habitant morbi tristique senectus et netuset malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia mauris vel est.</p>
                                </div>

                            </div>
                        </div>
                        <div class="sidebar">
                            <h5 class="line"><span>Facebook.</span></h5>
                            <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fenvato&amp;width=298&amp;height=258&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;border_color=%23BCBCBC&amp;header=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:298px; height:258px;" allowTransparency="true"></iframe>
                        </div>
                    </div>
                    <!-- /Left Sidebar -->

                </div>
            </section>
        </div>
    </div>
</div>


